/* 1. додайте клас до h1 і зробіть весь текст для класу заглавними літерами (text-transform: uppercase) */
.h1-uppercase {
    text-transform: uppercase;
}

/* 2. придумайте назву класа для списку цілей і встановіть колір шрифту червоним у шістнадцятковому форматі */
.goals-list {
    color: #ff0000;
}

/* 3. пунктам списку цілей за класом дайте колір заднього фону yellow і нахилений шрифт (font-style: italic)*/
.list__item {
    background-color: yellow;
    font-style: italic;
}

/* 4. для усіх впорядкованих списків задайте рамку 1px solid red */
ol {
    border: 1px solid red;
}

/* 5. задайте id (ідентифікатор) для заголовку першого рівня і встановіть на нього колір шрифта green */
#main-header {
    color: green;
}

/* 6. для всіх посилань на PDF-документи втсановити стиль: колір зелений і font-style: italic */
a[href$=".pdf"] {
    color: green;
    font-style: italic;
}

/* 7. для всіх посилань втсановити колір шрифта violet та забери підкреслення (text-decoration: none) */
a {
    color: violet;
    text-decoration: none;
}

/* 8. Встановіть всі заглавні літери (text-transform: uppercase) для усіх вкладнених списків другого рівня*/
ul ul {
    text-transform: uppercase;
}

/* 9. для всіх посилань що знаходяться всередині абзаців встановити колір шрифта magenta і задній фон кольору mistyrose */
p a {
    color: magenta;
    background-color: mistyrose;
}

/* 10. створити клас bold який буде будь-який текст перетворювати на жирний і застосувати його */
.bold {
    font-weight: bold;
}

/* 11. для всіх тегів li з класом bold встановити всі заглавні літери */
li.bold {
    text-transform: uppercase;
}

/* 12. другий довгий абзац і передостанній "Написати нам листа" вирівняйте по правому краю, додайте синю рамку навколо та встановіть розмір шрифта 20px */
p:nth-of-type(2),
p:nth-of-type(5) {
    text-align: right;
    border: 1px solid blue;
    font-size: 20px;
}

/* 13. на тег h1 встановіть колір шрифта червоний */
h1 {
    color: red;
}

/* 14. для всіх можливих селекторів встановіть властивість box-sizing: border-box */
* {
    box-sizing: border-box;
}

/* 15. зробіть так, щоб задній фон цілей був не на всю ширину сторінки, а лише по довжині кожного з елементів */
.list__item span {
    background-color: yellow;
}
